 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




/* common styles */

.display-flex{
    display: flex;
}
.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}
.dark-04{
    color: #A1A1A1;
}
.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    color: #fff;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.section-title{
    font-size: 2.7rem;
    font-weight: 700;
}



/* header styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.7rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}





/* main styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 120px;
}


/* teams feature styles */

.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 120px;
    max-width: 530px;
}
#quick-list{
    font-weight: 500;
}
#features{
    color: #FF900E;
}






/* features section styles */
.features-section{ 
    gap: 100px;
}
#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-card .features-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.features-card{
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;  
}
.features-architect img{
    width: 100%;
}
#exp-badge{
    padding: 40px 38px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -80px;
    margin-top: -120px;
}
#exp-year{
    font-size: 3rem;
    font-weight: 700;
}




/* facts styles */

#fact-description{
    max-width: 540px;
    margin-bottom: 35px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.fact-card{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.7rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}







/* sponsors styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}





/* footer styles */
footer{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1440px;
    padding: 20px;
    text-align: center;
    
}
footer p{

}







/* responsive media query */

@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams,
    .features-section{
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container,
    .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    #exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}


/* medium size device */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams,
    .features-section{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}